<h1>Mentions légales</h1>

<h2>Informations générales</h2>
<p>Raison sociale : {{ companyName }}</p>
<p>Statut juridique : {{ legalStatus }}</p>
<p>Siège social : {{ registeredAddress }}</p>
<p>Email : {{ contactEmailAddress }}</p>

<h2>Responsable du traitement des données personnelles</h2>
<p>Nom : {{ nameResponsible }}</p>
<p>Email : {{ responsibleEmailAddress }}</p>

<h2>Collecte et traitement des données personnelles</h2>
<p>Aucune données personnelles n'est collectées.</p>
<!--
<p>
  Les données personnelles collectées sur ce site sont utilisées dans le but de
  [indiquer l'objectif de la collecte : ex. répondre aux demandes des
  utilisateurs, envoyer des newsletters, etc.]
</p>
<p>
  Les données collectées sont les suivantes : [indiquer les types de données
  collectées : ex. nom, adresse email, etc.]
</p>
<p>
  La base légale du traitement des données personnelles est [indiquer la base
  légale du traitement : ex. le consentement de l'utilisateur, l'exécution d'un
  contrat, etc.]
</p>
<p>
  Les destinataires des données personnelles sont [indiquer les éventuels
  destinataires des données : ex. les employés de l'entreprise, les prestataires
  de services, etc.]
</p>
<p>
  Les données personnelles ne seront pas transférées en dehors de l'Union
  européenne.
</p>
<p>
  Les données personnelles seront conservées pendant [indiquer la durée de
  conservation des données : ex. 2 ans] à compter de [indiquer la date de fin de
  conservation : ex. la fin de la relation contractuelle, la désinscription de
  l'utilisateur, etc.]
</p>
-->

<h2>Vos droits</h2>
<p>Vous disposez des droits suivants concernant vos données personnelles :</p>
<ul>
  <li>Droit d'accès</li>
  <li>Droit de rectification</li>
  <li>Droit à l'effacement</li>
  <li>Droit à la limitation du traitement</li>
  <li>Droit à la portabilité des données</li>
  <li>Droit d'opposition</li>
  <li>Droit de retirer votre consentement</li>
</ul>
<p>
  Pour exercer ces droits, veuillez nous contacter à l'adresse suivante :
  {{ contactEmailAddress }}.
</p>

<h2>Cookies</h2>
<p>Ce site n'utilise pas de cookies.</p>
<!--
<p>
  Ce site utilise des cookies. En poursuivant votre navigation sur ce site, vous
  acceptez l'utilisation de cookies.
</p>
<p>
  Pour en savoir plus sur notre politique en matière de cookies, veuillez
  consulter notre
  <a href="[lien vers la politique en matière de cookies]"
    >politique en matière de cookies</a
  >.
</p>
-->

<h2>Modification des mentions légales</h2>

<p>
  Nous nous réservons le droit de modifier les présentes mentions légales à tout
  moment, en fonction des évolutions législatives, réglementaires ou pour toute
  autre raison jugée nécessaire. Nous vous encourageons à consulter
  régulièrement cette page pour prendre connaissance des éventuelles
  modifications.
</p>
<p>
  Pour toute question ou demande concernant nos mentions légales ou notre
  politique de confidentialité, vous pouvez nous contacter à l'adresse suivante
  : {{ contactEmailAddress }}.
</p>
<p>{{ lastUpdate }}.</p>
